:root {
  --default-font: "Outfit", sans-serif;
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --main-very-dark-blue: hsl(217, 54%, 11%);
  --card-very-dark-blue: hsl(216, 50%, 16%);
  --line-very-dark-blue: hsl(215, 32%, 27%);
}

body {
  background-color: var(--main-very-dark-blue);
}

main {
  min-height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 25%;
    margin: 0;
    background-color: var(--card-very-dark-blue);
    border-radius: 7px;

    &__section {
      padding: 1.2rem;
    }
    &__img {
      width: 100%;
      border-radius: 6px;
    }

    &__text {
      h1 a {
        color: var(--white);
        font-family: var(--default-font);
        font-size: 1.2rem;
        padding-top: 0.7rem;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        :active {
          text-decoration: none;
          cursor: pointer;
          color: var(--cyan);
        }
      }

      .content {
        color: var(--soft-blue);
        font-family: var(--default-font);
        font-size: 1rem;
        font-weight: 300;
        padding: 0.4rem 0 0.7rem;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      font-family: var(--default-font);

      span.index {
        color: var(--cyan);
        font-weight: 600;
      }

      span.days-qty {
        color: var(--soft-blue);
        font-weight: 300;
      }
      svg {
        display: inline-block;
        margin: 0 3px -2px;
      }
    }

    &__credits {
      padding: 1.1rem 0 0.7rem;
      color: var(--soft-blue);
      font-family: var(--default-font);
      font-size: 1rem;
      font-weight: 300;

      .footer {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      hr.line {
        border: 0.5px solid var(--line-very-dark-blue);
        margin-bottom: 1rem;
      }

      img.user {
        display: inline-block;
        width: 15%;
        border: 1px solid var(--white);
        border-radius: 50%;
        margin-right: 0.8rem;
      }
      a {
        color: var(--white);
        text-decoration: none;
        padding: 0 0.5rem;

        &:hover,
        :active {
          text-decoration: none;
          cursor: pointer;
          color: var(--cyan);
        }
      }
    }
  }
}
.signature {
  color: var(--soft-blue);
  text-align: center;
  font-size: 0.7rem;
  font-family: var(--default-font);

  &__links {
    color: var(--white);
    text-decoration: none;
  }
}
