:root {
  --default-font: "Outfit", sans-serif;
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --main-very-dark-blue: hsl(217, 54%, 11%);
  --card-very-dark-blue: hsl(216, 50%, 16%);
  --line-very-dark-blue: hsl(215, 32%, 27%);
}

body {
  background-color: var(--main-very-dark-blue);
}

main {
  min-height: 100vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 25%;
  margin: 0;
  background-color: var(--card-very-dark-blue);
  border-radius: 7px;
}

main .card__section {
  padding: 1.2rem;
}

main .card__section__active {
  position: relative;
  width: 100%;
}

main .card__section__active__img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 6px;
}

main .card__section__active__img:hover {
  opacity: 0.7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red));
  background-image: linear-gradient(red);
  background-size: cover;
  z-index: -1;
}

main .card__section .middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

main .card__section .middle:hover {
  opacity: 1;
  cursor: pointer;
}

main .card__section .text {
  background-color: transparent;
  color: var(--cyan);
  font-size: 1rem;
}

main .card__text h1 a {
  color: var(--white);
  font-family: var(--default-font);
  font-size: 1.2rem;
  padding-top: 0.7rem;
  text-decoration: none;
  cursor: pointer;
}

main .card__text h1 a:hover,
main .card__text h1 a :active {
  text-decoration: none;
  cursor: pointer;
  color: var(--cyan);
}

main .card__text .content {
  color: var(--soft-blue);
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 300;
  padding: 0.4rem 0 0.7rem;
}

main .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--default-font);
}

main .card__info span.index {
  color: var(--cyan);
  font-weight: 600;
}

main .card__info span.days-qty {
  color: var(--soft-blue);
  font-weight: 300;
}

main .card__info svg {
  display: inline-block;
  margin: 0 3px -2px;
}

main .card__credits {
  padding: 1.1rem 0 0.7rem;
  color: var(--soft-blue);
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 300;
}

main .card__credits .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card__credits hr.line {
  border: 0.5px solid var(--line-very-dark-blue);
  margin-bottom: 1rem;
}

main .card__credits img.user {
  display: inline-block;
  width: 15%;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 0.8rem;
}

main .card__credits a {
  color: var(--white);
  text-decoration: none;
  padding: 0 0.5rem;
}

main .card__credits a:hover,
main .card__credits a :active {
  text-decoration: none;
  cursor: pointer;
  color: var(--cyan);
}

.signature {
  color: var(--soft-blue);
  text-align: center;
  font-size: 0.7rem;
  font-family: var(--default-font);
}

.signature__links {
  color: var(--white);
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */