:root {
  --default-font: "Outfit", sans-serif;
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --main-very-dark-blue: hsl(217, 54%, 11%);
  --card-very-dark-blue: hsl(216, 50%, 16%);
  --line-very-dark-blue: hsl(215, 32%, 27%);
}

body {
  background-color: var(--main-very-dark-blue);
}

main {
  min-height: 100vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  main {
    min-height: 50vh;
  }
}

main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 25%;
  margin: 0;
  background-color: var(--card-very-dark-blue);
  border-radius: 7px;
}

@media only screen and (max-width: 37.5em) {
  main .card {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
}

main .card__section {
  padding: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  main .card__section {
    padding: 2rem;
  }
}

main .card__section__active {
  position: relative;
  width: 100%;
}

main .card__section__active img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media only screen and (max-width: 37.5em) {
  main .card__section__active img {
    min-width: 30%;
    min-height: 30%;
    border-radius: 10px;
  }
}

main .card__section__active .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--cyan);
}

main .card__section__active:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 37.5em) {
  main .card__section__active:hover .overlay {
    border-radius: 10px;
  }
}

main .card__section__active .icon {
  opacity: 0;
  display: inline-block;
  fill: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5rem;
}

main .card__section__active .icon:hover {
  opacity: 1;
  cursor: pointer;
}

main .card__text h1 a {
  color: var(--white);
  font-family: var(--default-font);
  font-size: 1.2rem;
  padding-top: 0.7rem;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  main .card__text h1 a {
    font-size: 1.5rem;
  }
}

main .card__text h1 a:hover,
main .card__text h1 a :active {
  text-decoration: none;
  cursor: pointer;
  color: var(--cyan);
}

main .card__text .content {
  color: var(--soft-blue);
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 300;
  padding: 0.4rem 0 0.7rem;
}

@media only screen and (max-width: 37.5em) {
  main .card__text .content {
    font-size: 1.5rem;
  }
}

main .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--default-font);
}

main .card__info span.index {
  color: var(--cyan);
  font-weight: 600;
}

main .card__info span.days-qty {
  color: var(--soft-blue);
  font-weight: 300;
}

@media only screen and (max-width: 37.5em) {
  main .card__info span.days-qty {
    font-size: 1.2rem;
  }
}

main .card__info svg {
  display: inline-block;
  margin: 0 3px -2px;
}

@media only screen and (max-width: 37.5em) {
  main .card__info svg {
    font-size: 1.5rem;
  }
}

main .card__credits {
  padding: 1.1rem 0 0.7rem;
  color: var(--soft-blue);
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (max-width: 37.5em) {
  main .card__credits {
    font-size: 1.1rem;
  }
}

main .card__credits .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card__credits hr.line {
  border: 0.5px solid var(--line-very-dark-blue);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  main .card__credits hr.line {
    margin-bottom: 1.5rem;
  }
}

main .card__credits img.user {
  display: inline-block;
  width: 15%;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 0.8rem;
}

@media only screen and (max-width: 37.5em) {
  main .card__credits img.user {
    width: 10%;
  }
}

main .card__credits a {
  color: var(--white);
  text-decoration: none;
  padding: 0 0.5rem;
}

main .card__credits a:hover,
main .card__credits a :active {
  text-decoration: none;
  cursor: pointer;
  color: var(--cyan);
}

.signature {
  color: var(--soft-blue);
  text-align: center;
  font-size: 0.7rem;
  font-family: var(--default-font);
}

@media only screen and (max-width: 37.5em) {
  .signature {
    padding-top: 1rem;
  }
}

.signature__links {
  color: var(--white);
  text-decoration: none;
}

.signature__links:hover {
  cursor: pointer;
  color: var(--cyan);
}
/*# sourceMappingURL=main.css.map */